/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.list {
  font-size: 15px;
  font-weight: lighter;
}

a {
  font-size: 25px;
  color: white;
  opacity: 0.9;
}

li {
  list-style: none;
}

.title {
    padding: 30px 0px 21px 0px;
}

.button {
    padding: 30px 0px 21px 0px;
}
