/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.list {
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid #b1adad;
    border-radius: 2px;
    padding: 15px 0 0 15px;
    margin: 11px 0px 11px 0;
}

a {
  font-size: 25px;
  color: white;
  opacity: 0.9;
}

li {
  list-style: none;
  padding: 10px 6px 10px 3px;
}

.title {
    padding: 30px 0px 21px 0px;
}

.button {
    padding: 30px 0px 21px 0px;
}


